<h1>Listing address2s</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @address2s.each do |address2| %>
  <tr>
    <td><%= address2.name %></td>
    <td><%= address2.email %></td>
    <td><%= link_to 'Show', address2 %></td>
    <td><%= link_to 'Edit', edit_address2_path(address2) %></td>
    <td><%= link_to 'Destroy', address2, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address2', new_address2_path %>
