<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @address2.name %>
</p>

<p>
  <b>Email:</b>
  <%= @address2.email %>
</p>


<%= link_to 'Edit', edit_address2_path(@address2) %> |
<%= link_to 'Back', address2s_path %>
